input:focus,
input:hover {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    transform: scale(1.1);
    font-weight: bold;
}

.containerLogo .containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 35vw;
    background-color: white;
    height: 40vh;
    border-top-left-radius: 18%;
    border-bottom-left-radius: 18%;
}

.formContainer {
    width: 40vw;
    background-color: white;
    height: 60vh;
    border-radius: 3%;
    box-shadow: 1px 1px 15px 3px black;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.imgLogo {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.errors {
    text-align: left;
    width: 88%;
}

.formGroup {
    background-color: #40C0DD;
    display: block;
    padding: 10px;
    width: 85%;
    margin-top: 5px;
    text-align: left;
}

.transparent {
    background-color: transparent;
    text-align: center;
}

.text_success {
    color: green;
}

.formGroup label {
    color: rgb(57, 56, 56);
    font-size: 14px;
}

.formGroup input {
    height: 100%;
    width: 60%;
    background-color: #40C0DD;
    color: #006386;
    border: none;
    transition: ease 0.3s;
    margin-left: 15px;
}

.form h3 {
    color: blue;
}